@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 32px;
    background-color: #332B5B;
}

.newsletter__content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.header__content{
    height: 83px;
    background-color: #1E4844;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px 0px 73px;
}

.header__list{
    display: flex;
    list-style: none;
    padding: 0;
}

.header__item:not(:last-child){
    margin-right: 32px;
}

.header__link{
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.header__logo{
    width: 25%;
    height: 46px;
}

/* ==================================================================================== */

/* Hero */

.section{
    margin: 0;
}

.section-hero{
    height: 490px;
    background-image: url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    padding: 85px 65px;
}

.section-hero__content{
    width: 30%;
}

.section-hero__heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.section-hero__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.btn{
    border: 2px solid #FFF;
    border-radius: 0px 50px 50px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    padding: 12px 42px;
    cursor: pointer;
}

/* ==================================================================================== */

/* Partners */

.section-partners{
    position: relative;
    height: 131px;
    display: flex;
    align-items: center;
    padding: 24px 102px;
    background-color: #C2D8CC;
}

.section-partners::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-background-wave.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.section-partners__list{
    display: flex;
    align-items: center;
    list-style: none;
}

.section-partners__item:not(:last-child){
    margin-right: 12px;
}

/* ==================================================================================== */

/* Products */

.section-products{
    display: flex;
}

.section-products__block{
    width: 50%;
    height: 860px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-products__block-1{background-image: url(../img/Block-1.png);}
.section-products__block-2{background-image: url(../img/Block-2.png);}

.section-products__block-content{
    width: 35%;
    margin-left: 64px;
    margin-bottom: 64px;
}

.section-products__block-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.section-products__block-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.section-products__block-btn{
    width: 232px;
    height: 43px;
    padding: 9px 70px;
}

/* ==================================================================================== */

/* Love */

.section-love{
    height: 491px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E4844;
}

.section-love__reviews{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 65px;
    margin-bottom: 67px;
}

.section-love__heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    color: #C2D8CC;
    margin-top: 0;
    margin-bottom: 51px;
}

.section-love__description{
    width: 1178px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #C2D8CC;
    margin-top: 0;
    margin-bottom: 34px;
}

.section-love__sign{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
}

/* ==================================================================================== */

/* Presentation */

.section-presentation{
    display: inline-block;
    height: 1050px;
    background-color: #C15244;
    padding: 0px 65px;
    background-image: url(../img/Presentation.png);
    background-repeat: no-repeat;
    background-position: right 20%;
    background-size: 50%;
    margin-top: 0;
}

.section-presentation__content{
    width: 40%;
    margin-top: 263px;
}

.section-presentation__heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #FAE9D6;
    margin-bottom: 12px;
    margin-top: 0px;
}

.section-presentation__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FAE9D6;
    margin-top: 0;
}

/* ==================================================================================== */

/* Specifics */

.section-specifics{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 908px;
    background-color: #9B9AC7;
}

.section-specifics__heading{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #332B5B;
    margin-top: 65px;
    margin-bottom: 0;
}

.section-specifics__content{
    display: flex;
    width: 100%;
    margin-top: 77px;
}

.section-specifics__block{
    width: 50%;
    display: flex;
    justify-content: center;
}

.section-specifics__block-list{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-specifics__block-item{
    position: relative;
    width: 526px;
    padding-top: 19px;
    padding-bottom: 20px;
    border: 1px solid #FFF;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color, .3s ease;
}

.section-specifics__block-item:hover{
    background-color: #DA6A66;
}

.section-specifics__block-item:not(:last-child){
    margin-bottom: 65px;
}

.section-specifics__block-item:nth-child(1)::before, .section-specifics__block-item:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 101%;
    left: 50%;
    width: 16px;
    height: 65px;
    background-image: url(../img/Spring.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.section-specifics__block-2{
    flex-direction: column;
    align-items: center;
}

.section-specifics__block-img{
    margin-top: 0px;
    margin-bottom: 72px;
    width: 274px;
    height: 369px;
    background-image: url(../img/Specifics-block-2-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.section-specifics__block-description{
    width: 518px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #332B5B;
}

/* ==================================================================================== */

/* Description */

.section-description{
    display: flex;
    height: 720px;
}

.section-description__block{
    width: 50%;
}

.section-description__block-1{
    background-image: url(../img/Description-block-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-description__block-2{
    background-color: #332B5B;
}

.section-description__content{
    width: 558px;
    margin-top: 158px;
    margin-left: 65px;
}

.section-description__heading{
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #FAE9D6;
}

.section-description__description{
    margin-top: 0px;
    margin-bottom: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FAE9D6;
}

.section-description__list{
    width: 521px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 14px;
    padding-left: 0px;
}

.section-description__item{
    width: 235px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: #FAE9D6;
}

.section-description__item:nth-child(1){margin-bottom: 21px;}
.section-description__item:nth-child(2){margin-bottom: 21px;}

.section-description__btn{
    width: 233px;
    height: 46px;
    padding-top: 10px;
}

/* ==================================================================================== */

/* Reviews */

.section-reviews{
    display: inline-block;
    width: 100%;
    height: 853px;
    background-color: #FAE9D6;
    background-image: url(../img/Reviews-lines.svg);
    background-position: center 97%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.section-reviews__content{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-reviews__heading{
    margin-top: 0px;
    margin-bottom: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #332B5B;
}

.section-reviews__background-img{
    width: 1310px;
    height: 426px;
    background-image: url(../img/Reviews-block-img.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.section-reviews__empty{
    width: 1310px;
    height: 32px;
    border: 1px solid #1E4844;
    margin-bottom: 33px;
    transform: translateY(-1px);
}

.section-reviews__review{
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    color: #1E4844;
    margin-bottom: 10px;
}

.section-reviews__sign{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #1E4844;
}

/* ==================================================================================== */

/* Footer */

.footer{
    display: flex;
    height: 594px;
}

.footer__block-1{
    width: 30%;
    height: 100%;
    background-color: #C2D8CC;
}

.footer__block-1-content{
    width: 350px;
    margin-top: 64px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
}

.footer__block-list{
    list-style: none;
    margin-top: 0;
    padding-left: 0px;
    margin-bottom: 16px;
}

.footer__block-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #1E4844;
    text-decoration-line: none;
    transition: text-decoration-line .3s ease;
    cursor: pointer;
}

.footer__block-item:hover{
    text-decoration-line: underline;
}

.footer__block-item:not(:last-child){
    margin-bottom: 6px;
}

.footer__block-social{
    display: flex;
    margin-bottom: 32px;
}

.footer__block-social-icon{
    width: 24px;
    height: 24px;
    margin-right: 9px;
    transition: transform .3s ease;
}

.footer__block-social-icon:hover{
    transform: scale(1.25);
}

.footer__block-cards{
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    margin-bottom: 71px;
}

.footer__block-card{
    min-width: 36px;
    min-height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: transform, box-shadow, .3s ease;
}

.footer__block-card:hover{
    transform: scale(1.25);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2);
}

.footer__block-card:nth-child(1){background-image: url(../img/Card-AMEX.svg);}
.footer__block-card:nth-child(2){background-image: url(../img/Card-Discover.svg);}
.footer__block-card:nth-child(3){background-image: url(../img/Card-F.svg);}
.footer__block-card:nth-child(4){background-image: url(../img/Card-JCB.svg);}
.footer__block-card:nth-child(5){background-image: url(../img/Card-Master.svg);}
.footer__block-card:nth-child(6){background-image: url(../img/Card-Visa.svg);}

.footer__block-1-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E4844;
}

.footer__block-2{
    width: 70%;
    height: 100%;
    background-color: #1E4844;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__block-2-content{
    width: 844px;
    margin-top: 64px;
    margin-left: 85px;
}

.footer__block-2-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #C2D8CC;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer__block-2-description{
    margin-top: 0px;
    margin-bottom: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__form{
    display: flex;
    justify-content: space-between;
}

.footer__input{
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFF;
}

input::-webkit-input-placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

input:-moz-placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__btn{
    width: 180px;
    height: 36px;
    padding-top: 5px;
}

.footer__block-2-before{
    position: relative;
    height: 187px;
    background-color: #FAE9D6;
    display: flex;
}

.footer__block-2-before::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -99%;
    left: 0;
    background-image: url(../img/Footer-waves.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.footer__block-2-before-header-container{
    margin-top: 31px;
    margin-left: 85px;
    width: 30%;
}

.footer__block-2-before-header{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #1E4844;
}

.footer__block-2-before-description-container{
    margin-top: 31px;
    width: 561px;
}

.footer__block-2-before-description{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1E4844;
}